.fourdeckship,
.threedeckship,
.twodeckship,
.onedeckship {
    display: inline-block;
    border: 2px solid #1976d2;
    // border-radius: 3px;
    // background-color: #1976d2;
    height: 10%;
    margin: 0px 10px 10px 0px;
    cursor: move;
    // &:hover {
        // border: 1px solid red;
    // }
}

.fourdeckship {
    width: 40%;
}

.threedeckship {
    width: 30%;
}

.onedeckship {
    width: 10%;
}

.twodeckship {
    width: 20%;
}