.fourDeckShips,
.threeDeckShips,
.twoDeckShips,
.oneDeckShips {
    display: inline-block;
    border: 2px solid #1976d2;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 3px;
    background-color: #1976d2;
    height: 100%;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
    // &:hover {
        // border: 1px solid red;
    // }
}

.fourDeckShips {
    width: 40%;
}

.threeDeckShips {
    width: 30%;
}

.oneDeckShips {
    width: 10%;
}

.twoDeckShips {
    width: 20%;
}

.ships-container {
    height: 10%;
    // outline: 1px solid red;
    margin: 15px 0px;
    position: relative;
}

.ships-number {
    position: absolute;
    border-radius: 50%;
    border: 1px solid #1976d2;
    text-align: center;
    background-color: #fff;

    width: 22px;
    height: 22px;
    left: -10px;
    top: -10px;
}