<div class="settingsfield-container">
  <div class="ships-container">
    <!-- <p>Click on AUTO button to locate your ships</p> -->
    <app-ships
      [shipsData] = "shipsData$">
    </app-ships>

    <button
      class="button-manual"
      (click)="onManual()"
      [disabled]="gameOn$">
      Manually place ships
    </button>
  </div>

  <div class="buttons-container">
    <button
      class="button button-auto"
      (click)="onAuto()"
      [disabled]="gameOn$">
      Auto
    </button>

    <button
      *ngIf="readyToPlay$"
      class="button button-play"
      (click)="onPlay()"
      [disabled]="gameOn$">
        <span class="button-line-top"></span>
        <span class="button-line-right"></span>
        <span class="button-line-left"></span>
        <span class="button-line-bottom"></span>
        Play
    </button>
  </div>
</div>
